.cardForm {
  width: 100% !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonLogin {
  color: #fff !important;
  background-color: #363546 !important;
}
