.font {
  font-family: sans-serif !important ;
  color: rgb(54 53 70) !important;
}

i.icon.shop:before {
  color: inherit !important;
}

html,
body,
.App,
#root {
  height: 100%;
}
/* .ui.grid {
  margin-left: unset !important;
  margin-right: unset !important;
} */
.ui.checkbox.check label,
.ui.checkbox + label.check {
  color: rgb(54 53 70) !important;
}
.ui.checkbox.check input:checked ~ .box:after,
.ui.checkbox.check input:checked ~ label:after {
  color: rgb(54 53 70) !important;
}

.ui.form.login .field > label {
  color: rgb(54 53 70) !important;
}
/* #363546 */
.ui.menu.profile {
  height: 1.89em !important ;
  min-height: unset !important;
  background: #696a6f !important;
  /* width: 81px !important; */
}

.ui.menu.profile .item {
  padding: 0px 10px !important;
  color: #fff;
}
.ui.form .disabled.field.emailD {
  opacity: 0.9 !important;
}
.ui.dropdown .menu {
  z-index: 1200 !important;
}

.ui.header.head {
  margin: 0px !important;
}

.ui.grid {
  margin-top: 40px !important;
}
