.navbar {
  height: 80px;
  width: 100%;
  background: #363546;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.2rem;
}

.nav-logo {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

.nav-link:hover {
  color: #969ba0;
}

.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 522px) {
  .navbar {
    position: relative;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 64px;
    left: -100%;
    transition: 0.5s all;
    padding-left: 0px !important;
    grid-gap: unset !important;
    z-index: 1000;
  }

  .nav-links.active {
    background: #363546;
    left: 0;
  }

  .nav-item {
    padding: 10px 0;
    text-align: -webkit-center !important;
  }

  .nav-icon {
    display: flex;
  }
}
